<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <h2>Bluetooth devices</h2>
    <ion-list>
      <ion-item ng-repeat="device in devices" ng-click="connect(device)">
        {{device.name}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
